{% extends "base.html" %}
{% block title %}Curriculum Vitae{% endblock %}

{% block content %}
<div class="max-w-5xl mx-auto container">
    <h1 class="text-3xl font-bold text-center mb-2">Curriculum Vitae</h1>
    <div class="grid mx-3 md:grid-cols-3 md:gap-4">
        <div class="col-span-2">
            <div class="experience">
                <h2 class="text-2xl font-bold mb-4">Experiencia</h2>
                <div class="my-4">
                    <h3 class="text-lg font-bold">Proyectos Personas de Desarrollo Web</h3>
                    <p class="font-thin italic">Noviembre 2021 - Actualidad</p>
                    <ul class="list-disc list-inside mb-4">
                        <li><a href="#">Las Fotias</a></li>
                        <li><a href="#">Mis Trocitos</a></li>
                        <li><a href="#">Gabriela Estrada</a></li>
                        <li><a href="#">Citas Profesionales</a></li>
                        <li><a href="#">Asia Bikes</a></li>
                    </ul>
                </div>
                <div class="my-4">
                    <h3 class="text-lg font-bold">Student Advocate – Success Team – Platzi</h3>
                    <p class="font-thin italic">Junio 2020 – Noviembre 2021</p>
                    <ul class="list-disc list-inside mb-4">
                        <li>Creación y análisis de reportes de impacto, mejorando la toma de decisiones estratégicas. </li>
                        <li>Creación de rutas de aprendizaje personalizadas, mejorando la experiencia educativa de los estudiantes. </li>
                        <li>Asesor académico para estudiantes, proporcionando orientación y apoyo en su desarrollo académico. </li>
                        <li>Administración de Social Media, logrando un aumento en el engagement y la interacción con la comunidad educativa.</li>
                    </ul>
                </div>
                <div class="mb-4">
                    <h3 class="text-lg font-bold">Asesor Académico - Administrativo - Tecnikids, S.A – Guatemala</h3>
                    <p class="font-thin italic">Mayo 2013 – Agosto 2018</p>
                    <ul class="list-disc list-inside mb-4">
                        <li>Profesor de cursos de ofimática, diseño gráfico, diseño web, programación, contribuyendo al desarrollo de habilidades tecnológicas en los estudiantes. </li>
                        <li>Capacitador docente y entrenador de maestros en Guatemala, El Salvador y Honduras. </li>
                        <li>Asesor académico de implementación de programas de informática educativa y robótica pedagógica, facilitando la integración tecnológica en la educación. </li>
                        <li>Organizador del Campeonato Latinoamericano de Robótica (2013-2018), promoviendo el interés por la robótica y la tecnología entre los jóvenes.</li>
                    </ul>
                </div>
                <div class="mb-4">
                    <h3 class="text-lg font-bold">Maquetador Web - Operativo - Reforma Branding S.A. - Guatemal</h3>
                    <p class="font-thin italic">Octubre 2012 - Abril 2013</p>
                    <ul class="list-disc list-inside mb-4">
                        <li>Implementación de sitios web con HTML, CSS, responsive web design, Wordpress, mejorando la presencia en línea de los clientes.</li>
                    </ul>
                </div>
                <div class="mb-4">
                    <h3 class="text-lg font-bold">Coordinador IT • Administrativo • Instituto Evangélico América Latina</h3>
                    <p class="font-thin italic">Marzo 2011 – Octubre 2012</p>
                    <ul class="list-disc list-inside mb-4">
                        <li>Diseño e implementación web e-learning (Moodle LMS, Chamilo LMS), facilitando el acceso a la educación en línea.</li>
                        <li>Diseño e implementación de la Intranet: cableado estructurado, GateWay, DHCP, servidores locales y remotos, mejorando la infraestructura tecnológica de la institución.</li>
                    </ul>
                </div>
            </div>
            <div class="education mb-4">
                <h2 class="text-2xl font-bold mb-4">Educación</h2>
                <p class="mb-2"><span class="font-semibold">Universidad Internacional Iberoamericana</span> – Licenciatura En Psicología con Especialización en Educación. (En curso, penúltimo semestre)</p>
                <p class="mb-2"><span class="font-semibold">Universidad del Valle de Guatemala</span> – Diseño de Redes Para Campus Universitarios</p>
                <p class="mb-2"><span class="font-semibold">Universidad San Carlos de Guatemala</span> – Profesorado en Enseñanza media en Física y Matemática (12 cursos aprobados)</p>
                <p class="mb-2"><span class="font-semibold">Platzi</span> - Cursos de Programación, Diseño, Marketing Digital. <span><a class="text-blue-500" href="https://platzi.com/p/CarlosAlba/" target="_blank" rel="noopener noreferrer">Ver Perfil</a></span></p>
                <p class="mb-2"><span class="font-semibold">Udemy</span> - Cursos de JavaScript y Python. <span><a class="text-blue-500" href="https://www.udemy.com/user/carlosalba3/" target="_blank" rel="noopener noreferrer">Ver Perfil -Únicamente a usuarios registrados-</a></span></p>
            </div>
        </div>
        <div>
            <h2 class="text-2xl font-bold mb-3">Habilidades</h2>
            <h3 class="text-lg font-semibold mb-3">Programación y Desarrollo Web:</h3>
            <ul class="mb-4 list-disc list-inside">
                <li>HTML</li>
                <li>CSS</li>
                <li>Sass</li>
                <li>Bootstrap</li>
                <li>TailwindCSS</li>
                <li>Gulp</li>
                <li class="font-semibold">Python</li>
                <li>Django</li>
                <li class="font-semibold">JavaScript</li>
                <li>VueJS</li>
                <li>Git y Github</li>
                <li>Copilot</li>
                <li>IA para desarrollo web</li>
            </ul>
            <h3 class="text-lg font-semibold mb-3">Ofimática y Diseño UI:</h3>
            <ul class="mb-4 list-disc list-inside">
                <li>Microsoft Office</li>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Figma</li>
            </ul>
            <h3 class="text-lg font-semibold mb-3">Sistemas Operativos:</h3>
            <ul class="mb-4 list-disc list-inside">
                <li>Windows</li>
                <li>Linux</li>
                <li>MacOS</li>
            </ul>
            <h3 class="text-lg font-semibold mb-3">Idiomas</h3>
            <ul class="mb-4 list-disc list-inside">
                <li>Español – Nativo</li>
                <li>Inglés – B1- Intermedio</li>
            </ul>
            <h3 class="text-lg font-semibold mb-3">Habilidades blandas</h3>
            <ul class="mb-4 list-disc list-inside">
                <li>Capacidad de análisis y resolución de problemas.</li>
                <li>Capacidad de trabajo en equipo.</li>
                <li>Capacidad de adaptación al cambio.</li>
                <li>Capacidad de aprendizaje autónomo.</li>
                <li>Capacidad de liderazgo.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
